

<form-wizard @on-complete="onComplete" color="#e67e22" subtitle="" title="" class="w-full">
    <tab-content title="Personal details">
      <div class="sm:w-full md:w-1/2">
      <input v-validate="'required|alpha|min:2'"
        v-model="editingHero.name" ref="name"
        placeholder="Name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline mb-10">
       <span>{{ errors.first('name') }}</span>
   
       <p>
           <legend for="gender">Gender:</legend>
           <select id="gender" name="gender" v-model="editingHero.gender">
             <option value="M">Male</option>
             <option value="F">Femail</option>
           </select>
           </p>
      </div>
    </tab-content>
    <tab-content title="Race" class="flex">    
      
        <div class="sm:w-full md:w-1/2">          
        <ul id="racesList"  class="list-reset">
            <li v-for="item in races " @click="onRaceSelect(item)" v-bind:class="{ active: item == (selectedRace || null) }" class="cursor-pointer hover:bg-blue-dark">
              {{item.name}}
            </li>
          </ul>
          </div>
          <div class="sm:w-full md:w-1/2 text-left">
            <p class="p-5">{{selectedRace ? selectedRace.alignment : ''}}</p>
            <p class="p-5">{{selectedRace ? selectedRace.age : ''}}</p>
            <p class="p-5">{{selectedRace ? selectedRace.size_description : ''}}</p>
            <p class="p-5">{{selectedRace ? selectedRace.language_desc : ''}}</p>
          </div>        
     </tab-content>
     <tab-content title="Class" class="flex">
        <div class="sm:w-full md:w-1/2">
        <ul id="classList"  class="list-reset">
            <li v-for="item in classes" @click="onClassSelect(item)" v-bind:class="{ active: item == (selectedClass || null) }" class="cursor-pointer hover:bg-blue-dark" >
              {{item.name}}
            </li>
          </ul>
        </div>
          <div class="sm:w-full md:w-1/2 text-left" >            
            <p class="p-5" v-html="selectedClass ? selectedClass.description : ''"></p>
          </div>
     </tab-content>
     <tab-content title="Background">
        Yuhuuu! This seems pretty damn simple
      </tab-content>
     <tab-content title="Stats">
        My second tab content
     </tab-content>
     <tab-content title="Skills">
       Yuhuuu! This seems pretty damn simple
     </tab-content>
  </form-wizard>

